.homeHead {
  background-color: #fff;
  padding: 20px 30px;
  border-top: 2px solid #00dd9b;

  .hHeadContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #00dd9b;
      border: none;
      color: white;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

}
